body{
    color: black;
    background-color:blue;
    }
title{
   font-style:Arial;
   font-size:22px;
}
p.me
{ border: 1px solid black;
}
p.program
{ background-color:black;
    color:white;
    text-align:center;
}
p.förväntningar
{ text-align:right;
    
}
a
{ text-decoration:none;
    
}